html, body, main{
	height: 100%;
}
body {
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	background: url(bg2.gif);
	color:#333;
}
*{
	box-sizing: border-box;
}
h1{
	font-size:2.5rem;
}
.main-content{
	display: flex;
	align-items: center;
	justify-content: center;
}
.portfolio{
	width: 100%;
	max-width: 640px;
	border:4px double purple;
	padding: 15px;
	background-color: #fff;
}
.portfolio__header{
	text-align: center;
	color:purple;
	text-shadow: 3px 3px 0px pink;

}
.portfolio__header h1{
	margin-top: 0;
}
.portfolio__item{
	color:#333;
}
.portfolio__item:hover{
	color:pink;
}