@charset "UTF-8";
/*
@font-face {
    font-family: Lato;
    src: url("fonts/LatoRegular/LatoRegular.eot");
    src: url("fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
// font-family: "LatoLight"; 
@font-face {
    font-family: Lato;
    src: url("fonts/LatoLight/LatoLight.eot");
    src: url("fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/LatoLight/LatoLight.woff") format("woff"),
    url("fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

// font-family: "LatoBold"; 
@font-face {
    font-family: Lato;
    src: url("fonts/LatoBold/LatoBold.eot");
    src: url("fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/LatoBold/LatoBold.woff") format("woff"),
    url("fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


//font-family: "LatoSemiBold"; 
@font-face {
    font-family: Lato;
    src: url("fonts/LatoSemiBold/LatoSemiBold.eot");
    src: url("fonts/LatoSemiBold/LatoSemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/LatoSemiBold/LatoSemiBold.woff") format("woff"),
    url("fonts/LatoSemiBold/LatoSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}*/
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

ul.breadcrumbs {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 0 0 3px;
}

ul.breadcrumbs li {
  display: inline-block;
  padding: 0;
}

ul.breadcrumbs li:before {
  content: "/";
  padding: 0 7px;
}

ul.breadcrumbs li:first-child {
  padding: 0;
  content: "";
}

ul.breadcrumbs li:first-child:before {
  content: "";
  padding: 0;
}

.viki-tab {
  display: none;
}

.viki-tab.act {
  display: block;
}

ul.breadcrumbs {
  list-style: none;
  display: block;
  width: 100%;
  margin: 20px 0 10px 0;
  padding: 0 0 0 3px;
}

ul.breadcrumbs li {
  display: inline-block;
  padding: 0;
}

ul.breadcrumbs li:before {
  content: "|";
  padding: 0 7px;
}

ul.breadcrumbs li:first-child {
  padding: 0;
  content: "";
}

ul.breadcrumbs li:first-child:before {
  content: "";
  padding: 0;
}

/*
.pgngwr{clear:both}.pgng,.pgngwr{text-align:center}.pgng{margin:20px 0}.pgng .on,.pgng a{display:inline-block;min-width:56px;color:#333;border:1px solid #5b5b5b;margin:0 2.5px;border-radius:4px;text-decoration:none;text-align:center}.pgng a{background:#fff}.pgng a,.pgng a:hover{transition:background-color .3s ease-in}.pgng a:hover{color:#fff;background:#0e3270}.pgng .on{background:#3f6cb8;border-color:#3f6cb8;color:#fff}.pgng .viki-pg-next,.pgng .viki-pg-prev{background:#0e3270;border-color:#0e3270;color:#fff}
*/
/*.pgngwr {width: 100%; height: auto; clear:both; margin: 20px 0; display: inline-block;}
.pgng { font: 11px arial,sans-serif; margin: 0 auto; width: auto; display: table; width: auto;}
	.pgng a, .pgng .on {font: 11px arial,sans-serif; text-decoration:none; padding:5px 10px; float:left; margin:0 2px; color: #555555; background-color: #E0E0E0;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FAFAFA,EndColorStr=#DCDCDC);
    background-image: -moz-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
    background-image: -ms-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
    background-image: -o-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#DCDCDC));
    background-image: -webkit-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
    background-image: linear-gradient(to bottom,#FAFAFA 0,#DCDCDC 100%);    
    box-shadow: 0 0 1px #FFFFFF inset; -webkit-box-shadow:0 0 1px #FFFFFF inset;-moz-box-shadow:0 0 1px #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;border: 1px solid;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold; border: 1px solid #CCCCCC; border-bottom-color:#AAAAAA; border-radius: 2px 2px 2px 2px;}
  .pgng span {float:left; line-height:26px; padding:0 7px; font-weight:bold}
	.pgng a:hover {background:#fff; color:#333333; text-shadow: 1px 1px 3px #999999;  }
	.pgng .on {cursor:default; border-color:#028646; background:#028646; color:#fff;}

*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.flexbox body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.flexbox .main-header, .flexbox .main-footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flexbox .main-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  outline: none !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 15px;
}

a {
  color: #278b4d;
  outline: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

a.download {
  position: relative;
  padding-left: 22px;
  text-decoration: none;
}

a.download:hover {
  text-decoration: underline;
}

a.download:before {
  content: "";
  background: url("images/dwnload.svg") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
}

body {
  margin: 0;
  font-family: Lato,Arial,"Helvetica Neue",Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #373737;
  background-color: #fff;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #278b4d;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img-full-width img {
  width: 100%;
}

.btn-primary, .button {
  color: #fff;
  background-color: #278b4d;
  border-color: #278b4d;
}

.btn, .button {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-decoration: none;
}

.btn:after, .button:after {
  content: '»';
  margin-left: 5px;
}

.btn:hover, .button:hover {
  background: #d4e8db;
  color: #278b4d;
  border-color: #278b4d;
}

.btn_outline, .button_outline {
  color: #278b4d;
  background-color: transparent;
  border-color: #278b4d;
}

.container:before {
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
  line-height: 1.1;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding-bottom: 1px;
}

h1 {
  font-size: 2.53333rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.86667rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.26667rem;
}

h1 + h2 {
  margin-top: -1rem;
}

.grid-margin-down {
  margin-bottom: 20px;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 20;
  /*&__logo{
    	display: none;
    }*/
}

.main-header .logo {
  width: 112px;
  height: 112px;
  display: block;
  margin: auto auto 30px;
}

.main-header .svg-logo {
  display: block;
}

.main-header_fixed .main-nav__item_logo {
  opacity: 1;
  width: 88px;
}

.main-nav {
  position: relative;
  z-index: 10;
  background: #278b4d;
  font-size: 1rem;
  padding: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100vh;
}

.main-nav__menu {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px 0;
  display: none;
}

.main-nav__item_level_1 {
  display: block;
  width: 100%;
}

.main-nav__item_search {
  margin-left: auto;
}

.main-nav__link {
  position: relative;
  color: #fff;
  display: block;
  white-space: nowrap;
  padding: 8px 15px;
}

.main-nav__link_level_1 {
  text-transform: uppercase;
}

.main-nav__link_level_1:hover {
  color: #93c5a6;
  text-decoration: none;
}

.main-nav__link_search, .main-nav__link_language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.main-nav__link_search .svg, .main-nav__link_language .svg {
  margin-left: auto;
  fill: currentColor;
}

.main-nav__link_search {
  padding: 8px 0;
}

.main-nav__link_active {
  background-color: #fff;
  color: #278b4d;
}

.main-nav__mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
}

.main-nav__mobile > .svg {
  height: 50px;
  width: 90px;
  background: #fff;
}

.main-nav__search {
  padding: 0 15px;
}

.main-nav__toggle {
  margin-left: auto;
  padding-top: 0;
}

.main-nav__toggle .hamburger-inner,
.main-nav__toggle .hamburger-inner:after,
.main-nav__toggle .hamburger-inner:before {
  background-color: #fff;
  width: 34px;
}

.main-nav__toggle:hover {
  opacity: 1;
}

.main-nav__submenu {
  display: none;
  border-bottom: 1px solid #93c5a6;
}

.search {
  position: relative;
}

.search__form {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
}

.search__form .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}

.search__form table td {
  border-bottom: none;
}

.search__form_visible {
  height: auto;
  -webkit-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
}

.search__input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  padding: 0 5px;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  float: left;
  height: 20px;
}

.search__button {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #93c5a6;
  border: 0;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}

.main-slider {
  background-color: #dcdcdc;
}

.main-slider h1 {
  font-size: 1.4rem;
}

.main-slider__carousel {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

.main-slider__item {
  height: 380px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .owl-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.main-slider .owl-theme .owl-dots .owl-dot span {
  width: 50px;
  height: 5px;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.main-slider__content h1, .main-slider__content h2, .main-slider__content h3, .main-slider__content h4, .main-slider__content h5, .main-slider__content h6 {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  line-height: 1.3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-slider__content p {
  margin: 0;
  padding: 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
}

.owl-dot, .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-nav {
  display: none;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #373737;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #278b4d;
}

.block_gray > :first-child,
.box > :first-child,
.main-slider__content > :first-child,
.accordeon__content-inner > :first-child,
.content-block__text > :first-child,
.block--gray > :first-child > :first-child,
.box > :first-child > :first-child,
.main-slider__content > :first-child > :first-child,
.accordeon__content-inner > :first-child > :first-child,
.content-block__text > :first-child > :first-child,
.block_gray > :first-child > :first-child > :first-child,
.box > :first-child > :first-child > :first-child,
.main-slider__content > :first-child > :first-child > :first-child,
.accordeon__content-inner > :first-child > :first-child > :first-child,
.content-block__text > :first-child > :first-child > :first-child {
  margin-top: 0;
}

.block--gray > :last-child,
.box > :last-child,
.keyvisual__content > :last-child,
.accordeon__content-inner > :last-child,
.content-block__text > :last-child,
.block--gray > :last-child > :last-child,
.box > :last-child > :last-child,
.keyvisual__content > :last-child > :last-child,
.accordeon__content-inner > :last-child > :last-child,
.content-block__text > :last-child > :last-child,
.block--gray > :last-child > :last-child > :last-child,
.box > :last-child > :last-child > :last-child,
.keyvisual__content > :last-child > :last-child > :last-child,
.accordeon__content-inner > :last-child > :last-child > :last-child,
.content-block__text > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.block li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 5px;
}

.block li:before {
  content: '–';
  position: absolute;
  top: 0;
  left: 0;
  color: #278b4d;
}

.row {
  clear: both;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-block {
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /*&__box,&__figure{
		margin-left: -15px;
    	margin-right: -15px;
    	}*/
}

.content-block.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-block_gray {
  background: #f5f5f5;
}

.content-block__box {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-block__figure {
  max-width: -webkit-calc(100% + 30px);
  max-width: calc(100% + 30px);
}

.box {
  padding: 15px;
  /*&__more{
		display: none;
	}*/
}

.box_gray {
  background: #f5f5f5;
}

.box__more {
  overflow: hidden;
  /*display: none;*/
  /*transition: height 0.2s ease 0s;
		&_hidden{
			height: 0;
			transition: height 0.2s ease 0s;
		}*/
}

.box__more-link {
  color: #278b4d;
}

.box__more-link a {
  text-decoration: none;
  color: inherit;
}

.box__more-link .svg {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-right: 5px;
}

.box__more-link .svg_opened {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/*.box__more:not(.box__more_hidden)+.box__more-link{
	.link-more{
		display: none;
	}
	.svg{
		ransform:rotate(180deg);
		transition: all .3s ease;
	}
}*/
/*.box__more.box__more_hidden+.box__more-link{
	.link-less{
		display: none;
	}
	
}*/
.figure {
  margin: 0;
}

.figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.figure_border {
  border: 1px solid #dcdcdc;
}

.main-footer {
  margin-top: 2rem;
  background: #dcdcdc;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: .9rem;
}

.main-footer h1, .main-footer h2, .main-footer h3, .main-footer h4, .main-footer h5, .main-footer h6 {
  font-size: 100%;
  font-weight: 700;
  margin-bottom: .25rem;
  text-align: left;
}

.main-footer .logo {
  float: right;
  margin-top: -64px;
}

.main-footer .svg-logo {
  width: 64px;
  height: 64px;
  display: block;
}

.main-footer hr {
  border-color: #969696;
}

.footer-navigation {
  text-align: right;
}

.footer-navigation__link {
  color: inherit;
}

.footer-navigation__link:hover {
  color: #278b4d;
}

.footer-navigation__separator:last-child {
  display: none;
}

.lot-btn {
  width: 80px;
  height: 80px;
  background: #eaa90f;
  position: absolute;
  top: 60px;
  color: #fff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  font-size: 15px;
  padding: 29px 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-animation: mymove 5s infinite;
          animation: mymove 5s infinite;
  text-decoration: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0% {
    -webkit-box-shadow: 0 0 0 12px #278b4d;
            box-shadow: 0 0 0 12px #278b4d;
  }
  20% {
    -webkit-box-shadow: 0 0 0 9px #278b4d;
            box-shadow: 0 0 0 9px #278b4d;
  }
  80% {
    -webkit-box-shadow: 0 0 0 9px #278b4d;
            box-shadow: 0 0 0 9px #278b4d;
  }
  100% {
    -webkit-box-shadow: 0 0 0 12px #278b4d;
            box-shadow: 0 0 0 12px #278b4d;
  }
}

@keyframes mymove {
  0% {
    -webkit-box-shadow: 0 0 0 12px #278b4d;
            box-shadow: 0 0 0 12px #278b4d;
  }
  20% {
    -webkit-box-shadow: 0 0 0 9px #278b4d;
            box-shadow: 0 0 0 9px #278b4d;
  }
  80% {
    -webkit-box-shadow: 0 0 0 9px #278b4d;
            box-shadow: 0 0 0 9px #278b4d;
  }
  100% {
    -webkit-box-shadow: 0 0 0 12px #278b4d;
            box-shadow: 0 0 0 12px #278b4d;
  }
}

.accordeon {
  margin-bottom: .5rem;
}

.accordeon__title {
  padding: 15px 50px 15px 30px;
  display: block;
  margin: 0;
  position: relative;
  font-size: 100%;
  background: #f5f5f5;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.accordeon__title h2 {
  font-size: 1rem;
  margin: 0;
}

.accordeon__title .svg {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.accordeon__title_is-open {
  background-color: transparent;
  border-color: #dcdcdc;
}

.accordeon__title_is-open .svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.accordeon__content {
  padding: 15px 30px;
  /*display: none;*/
}

.accordeon__content img {
  max-width: 100%;
  height: auto;
}

.brand-logo {
  /*height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;*/
  margin-bottom: 30px;
  position: relative;
}

.brand-logo:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 70%;
  position: relative;
  max-width: 180px;
}

.brand-logo img {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: -webkit-calc(100% - 20px);
  max-height: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}

table {
  border-collapse: collapse;
  border: none;
}

table th, table td {
  padding-left: .75rem;
  border: 0;
  border-bottom: .5rem solid #fff;
  font-weight: 200;
  padding: .75rem;
  vertical-align: top;
}

table th {
  background-color: #dcdcdc;
  vertical-align: bottom;
  text-align: left;
}

table tr {
  background: #f5f5f5;
}

table td {
  border: 0;
  border-bottom: .5rem solid #fff;
  font-weight: 200;
}

.responsive-table {
  overflow-x: scroll;
}

/*.tabs{
	
	&__tabs{
		overflow:hidden;
		position: relative;
		transition: height .3s;
    	will-change: height;
	}
	&__tab{

		display: flex;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;

	    &__active{
	    	position:relative;
	    }
	}
}*/
.tabs__links {
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
}

.tabs__links li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}

.tabs__links li:before {
  display: none;
}

.tabs__link {
  display: inline-block;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 0 1px;
  text-decoration: none;
}

.tabs__link.act, .tabs__link:hover {
  border-bottom: 3px solid #278b4d;
  color: #278b4d;
}

.tabs__tabs {
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  will-change: height;
}

.tabs__tab {
  text-align: center;
}

.iframe iframe {
  width: 100%;
}

.tabs {
  width: 100%;
}

.social-share__link {
  margin-right: 10px;
}

.social-share__link:hover {
  color: #373737;
}

.social-share__link .svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .main-slider h1 {
    font-size: 2.53333rem;
  }
  .main-slider__item {
    height: 450px;
  }
  .main-nav__mobile {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    top: -142px;
  }
  .main-slider__item {
    height: 500px;
  }
  .container {
    max-width: 720px;
  }
  .main-nav__menu {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding: 0;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    max-width: 100%;
  }
  .main-nav__submenu {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #278b4d;
    min-width: 100%;
    padding: 10px;
    border-bottom: none;
  }
  .main-nav__submenu:before {
    content: '';
    position: absolute;
    top: -12px;
    left: -2px;
    right: -2px;
    height: 12px;
  }
  .main-nav__item_level_1 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    position: relative;
    margin-right: 1px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__item_level_1:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
    border-right: 1px solid #fff;
  }
  .main-nav__item_level_2 a:hover {
    background: #93c5a6;
    color: #fff;
    text-decoration: none;
  }
  .main-nav__item_level_1:first-child:before,
  .main-nav__item_logo + .main-nav__item_level_1:before, .main-nav__item_language:before, .main-nav__item_search:before {
    display: none;
  }
  .main-nav__item_logo {
    width: 0;
    outline: 0;
    -webkit-transition: width .3s ease, opacity .3s ease;
    -o-transition: width .3s ease, opacity .3s ease;
    transition: width .3s ease, opacity .3s ease;
    overflow: hidden;
  }
  .main-nav__item_logo .svg {
    height: 23px;
    width: 68px;
    display: block;
  }
  .main-nav__item:hover > .submenu,
  .main-nav__item > .submenu:hover {
    visibility: visible;
    top: 100%;
    left: 0;
    margin-top: 12px;
  }
  .main-nav__link_level_1 {
    padding: 0 10px;
  }
  .main-nav__link_active {
    margin-right: -4px;
    border-right: 2px solid #278b4d;
  }
  .main-nav__search {
    padding: 0;
  }
  .search {
    max-width: 300px;
    /*&__link-text{
			display: none;
		}*/
  }
  .search__form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .search__form_visible {
    width: 250px;
  }
  .search__form table th, .search__form table td {
    padding: 0.3rem;
  }
  .box {
    padding: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .main-slider__content h1, .main-slider__content h2, .main-slider__content h3, .main-slider__content h4, .main-slider__content h5, .main-slider__content h6, .main-slider__content p {
    max-width: 60%;
  }
  .main-nav__menu {
    max-width: 960px;
  }
  .tabs__tab {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
  .gutter-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .responsive-table {
    overflow: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .main-nav__link_level_1 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main-nav__link_logo {
    padding-left: 10px;
    padding-right: 10px;
  }
  .lot-btn {
    font-size: 20px;
    position: fixed;
    width: 120px;
    height: 120px;
    top: 200px;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    right: 60px;
    padding: 44px 10px;
  }
  .gutter-block {
    max-width: 950px;
  }
}
